<% flash.each do |type, message| %>
    <%- unless message.blank? %>
      <div class="alert <%= bootstrap_class_for(type) %> fade in">
        <button class="close" data-dismiss="alert"><i class="glyphicon glyphicon-remove-circle"></i></button>
        <%= message %>
      </div>
    <% end %>
<% end %>

<%= @link.html_safe %>
<br/>
<br/>
<div class="row">
	<%= link_to 'Back', root_path%>
</div>
